#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding: 16px 8px;
  overflow: hidden;
}

#login {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
  background: #FFF;
}

#login select {
  height: 30px;
}

#login input {
  flex: 1;
  height: 30px;
}

#login p {
  margin: 0;
  padding: 2px 4px;
  cursor: pointer;
  border: 1px solid #AAA;
  border-radius: 4px;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

#content .message {
  margin-top: 8px;
}
