#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding: 16px;
  overflow: hidden;
}

#login {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
}

#login select {
  height: 30px;
  border: 1px solid #AAA;
  border-radius: 4px;
}

#login input {
  flex: 1;
  height: 30px;
  border: 1px solid #AAA;
  border-radius: 4px;
  background: none;
  color: rgba(0, 0, 0, 0.87);
}

.dark #login input {
  color: #FFF;
}

#login input::placeholder {
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.75; /* Fixes a default opacity issue in Firefox */
}

.dark #login input::placeholder {
  color: #FFF;
  opacity: 0.75; /* Fixes a default opacity issue in Firefox */
}

#login p, #logout p {
  margin: 0;
  padding: 2px 4px;
  cursor: pointer;
  border: 1px solid #AAA;
  border-radius: 4px;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

#content .message {
  margin-top: 8px;
}
